/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

form {
    border:1px solid rgb(253, 45, 1);
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgb(219, 217, 211);
    background-color: rgb(245, 244, 240);
    width:30%;
    margin:auto;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
::placeholder {
    font-size: 0.8em;
}
/*inputs email & password*/
input {
    font-size: 1.2em;
    border-radius: 10px;
    border: 1px solid grey;
    height:40px;
}
input:focus {
    outline: none;
    border:2px solid rgb(253, 45, 1)!important;
}
/*logo*/
.userLogo {
    color: rgb(253, 45, 1);
    font-size: 3.5em;
    margin-top: 20px;
}
/*email*/
.emailRelated {
    margin-top: 10px;
}
/*password*/
.passwordRelated {
    margin-top: 20px;
}
.signupSentence {
    text-align: center;
    margin-top: 20px;
}
.loginButton {
    margin-top: 20px;
    font-size: 1.1em;
}
.loginButton:hover {
    color: rgb(253, 45, 1);  
}
.signupButton {
    font-size: 0.8em;
    margin-top: 20px;
    margin-bottom: 20px;
}
.signupButton:hover {
    color: rgb(253, 45, 1); 
}

@media screen and (max-width: 1000px){
    form {
        width:50%;
    }
}
@media screen and (max-width: 600px){
    form {
        width:70%;
    }
}
@media screen and (max-width: 450px){
    form {
        width:95%;
    }
}
@media screen and (max-width: 300px){
    input {
        width:75%;
    }
    .emailRelated, .passwordRelated {
        margin-left:55px;
    }
}