/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

.user_post_container {
    border:1px solid rgb(47, 1, 120);
    width:50%;
    margin: auto;
    margin-top:50px;
    margin-bottom: 50px;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(252, 232, 172);
    box-shadow: 10px 5px 5px rgb(219, 217, 211);
}
/*user pseudo*/
.connected_user_pseudo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3em;
}
.new_post_user_pseudo{
    margin-left:10px;
}
/*error*/
.new_post_error {
    color:red;
    font-size: 1.2em;
}
/*input for title of the post*/
.new_post_title {
    margin-bottom: 0;
    margin-top: 10px;
    background-color: rgb(252, 232, 172);
    display: flex;
    justify-content: flex-start;
}
#new_post_title{
    padding:0px 8px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 0.9em;
    width:50%;
}
/*settings of the textarea*/
.new_post_content { 
    text-align: center;
}
.create_post textarea {
    resize: none;
    width:100%;
    height: 150px;
    margin-top: 10px;
    border-radius: 10px;
    padding:8px;
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
textarea:focus {
    outline: none;
    border:2px solid rgb(253, 45, 1);
}
/*class related to the post image*/
.new_post_image {
    margin-top: 20px;
}
/*input id*/
#new_post_image {
    font-size: 0.8em;
    padding-top: 10px;
    padding-left: 10px;
    border: none
}
#new_post_image:focus {
    border:none
}
/*image preview*/
#preview {
    object-fit: cover;
}
/*button to delete image from the input*/
.delete_image {
    margin-top: 10px;
}
.delete_image:hover {
    cursor:pointer;
    color:rgb(253, 45, 1);
}
/*footer settings*/
.form_footer {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}
/*button to send the whole form*/
.send_user_post {
    border-radius: 20px;
    border:1px solid grey;
    padding: 5px 10px;
}
.send_user_post:hover {
    cursor: pointer;
    color:rgb(253, 45, 1);
    border:1px solid rgb(253, 45, 1);
}

@media screen and (max-width:1000px){
    .user_post_container {
        width:60%;
    }
}
@media screen and (max-width:700px){
    .user_post_container {
        width:70%;
    }
}
@media screen and (max-width:550px){
    .user_post_container {
        width:75%;
    }
}
@media screen and (max-width:450px){
    .user_post_container {
        width:80%;
    }
}
@media screen and (max-width:350px){
    .user_post_container {
        width:90%;
    }
}

