/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

.card_container {
    border:1px solid rgb(47, 1, 120);
    width:50%;
    margin: auto;
    margin-top:30px;
    margin-bottom: 30px;
    padding: 15px;
    border-radius: 30px;
    background-color: rgb(245, 244, 240);
    box-shadow: 10px 5px 5px rgb(219, 217, 211);
}
.post_header {
    display: flex;
    padding:0px 20px;
}
.user_pseudo {
    margin-left: 10px;
    font-weight:600;
    border-radius: 30px;
    background-color: rgb(203, 240, 187);
    padding: 5px 10px;
}
.user_icon {
    color: rgb(253, 45, 1);
    font-size: 1.2em;
}
/*pen icon as update post button*/
.update_post_container {
    width:100%;
    display: flex;
    justify-content: end;
}
.update_post_icon {
    display: flex;
    align-items: center;
    font-size: 0.8em;
}
.update_post_icon > a:hover{
    color:rgb(253, 45, 1);
    cursor: pointer;
}
.update_post_icon > a {
    color: black;
}
/*post_body includes title and content of the post*/
.post_body {
    padding:15px;
}
.post_title {
    padding: 5px 0px;
    margin-bottom: 15px;
    border-radius: 30px;
    background-color: rgb(235, 211, 240);
    text-align: center;
}
.post_content {
    border-radius: 30px;
    padding:15px;
    background-color: rgb(232, 223, 197);
}
.post_image {
    display: flex;
    justify-content: center;
    margin-top:10px;
}
/*settings about like and dislike*/
.like_tab__button {
    display: flex;
    justify-content: center;
}
.like_post {
    font-size: 1.2em;
    border-radius: 20px;
    border: 1px solid grey;
    color:grey;
}
.like_post:active {
    color:black;
}
.like_post:hover {
    cursor: pointer;
    background-color: rgb(6, 161, 14);
    color:white;
    border: 1px solid rgb(6, 161, 14);
}
.like_number {
    font-weight: 600;
    margin-left: 5px;
    font-size: 0.7em;
    color: rgb(6, 161, 14);
    display: flex;
    align-items: center;
}
/*settings about comment icon*/
.comment_section {
    padding:0px 20px;
    display: flex;
}
.comment_icon {
    font-size: 1.2em;
}
.comment_numbers {
    margin-left: 10px;
}
/*trash icon */
.post_delete_icon {
    font-size:0.8em;
    display: flex;
    align-items: center;
    margin-left:auto;  
}
.post_delete_icon:hover {
    color:red;
    cursor:pointer;
}
/*Display comments*/
.display_comments{
    padding: 10px;
}
.comment-container_settings {
    display: flex;
    justify-content: space-around;
    width: 20%;
}
.oneComment {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-radius: 20px;
    margin-bottom: 15px;
    background-color: rgb(202, 219, 219)
}
.comment_content {
    font-size: 0.9em;
    padding:0px 5px;
}
.comment_delete_icon:hover {
    color:red;
    cursor:pointer;
}
/*About update comment icon*/
.comment_update_icon {
    display: flex;
    align-items: center;
    font-size:0.8em;
}
.update_comment_icon_color {
    color: black;
}
.update_comment_icon_color:hover {
    color:rgb(253, 45, 1);
    cursor: pointer;
}
.comment_username {
    width:30%;
    border-radius: 30px;
    font-size: 0.8em;
    font-weight:600;
    color: rgb(253, 45, 1);
    padding: 5px 0px;
    margin-bottom: 5px;
}
/*comment creation*/
.create_new_comment {
    margin-top: 10px;
    background-color: rgb(252, 232, 172);
    border-radius: 10px;
    padding: 0px 10px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.create_comment {
    text-align: center;
}
#comment_content{
    width:100%;
    height:120px;
    padding: 10px;
    border-radius: 10px;
    font-size: 0.9em;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.error_comment {
    color: red;
    font-size: 0.8em;
}
#comment_content:hover {
    resize: none;
}
.send_user_comment{
    margin-top: 10px;
}
.send_user_comment:hover {
    cursor:pointer;
    color: rgb(253, 45, 1);
}

@media screen and (max-width:1000px){
    .card_container {
        width:60%;
    }
    .comment-container_settings {
        width:25%;
    }
}
@media screen and (max-width:700px){
    .card_container {
        width:70%;
    }
    .comment-container_settings {
        width:30%;
    }
}
@media screen and (max-width:550px){
    .card_container {
        width:75%;
    }
    .comment-container_settings {
        width:35%;
    }
}
@media screen and (max-width:450px){
    .card_container {
        width:80%;
    }
    .comment-container_settings {
        width:40%;
    }
}
@media screen and (max-width:350px){
    .card_container {
        width:90%;
    }
    .comment-container_settings {
        width:45%;
    }
}