/*! minireset.css v0.0.6 | MIT License | github.com/jgthms/minireset.css */html,body,p,ol,ul,li,dl,dt,dd,blockquote,figure,fieldset,legend,textarea,pre,iframe,hr,h1,h2,h3,h4,h5,h6{margin:0;padding:0}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}ul{list-style:none}button,input,select{margin:0}html{box-sizing:border-box}*,*::before,*::after{box-sizing:inherit}img,video{height:auto;max-width:100%}iframe{border:0}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

.head {
    display:flex;
    width:100%;
    height:100px;
    justify-content: space-between;
    border-bottom:1px solid rgb(253, 45, 1);
}
/*logo as banner*/
.head__logo {
    width:40%;
    object-fit: cover;
    display: flex;
    align-items: center;
    margin-left: 1%;
}
/*User button*/
.head__nav {
    /* border:1px solid red; */
    margin-right: 5%;
    display: flex;
    align-items: center;
    position: relative;
}
/*User button*/
.head__nav-user{
    font-size: 2.5em;
    width:100%;
    height:50%;
    border: none;
    background-color: white;
}
/*icon*/
.userIcon {
    display: flex;
    align-items: center;
    color: rgb(160, 163, 161);
}
.userIcon :hover{
    color: rgb(253, 45, 1);
    cursor: pointer;
}
/*user infos pannel*/
.set_username {
    font-size: 1.3em;
    margin-right: 10px;
}
.userInfos {
    border: 1px solid rgb(253, 45, 1);
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgb(219, 217, 211);
    background-color: rgb(245, 244, 240);
    padding: 10px;
    position: absolute;
    top : 100px;
    right:0px;
    text-align: center;
    color:rgb(253, 45, 1);
    font-size: 1.1em;
    
}
.user_infos_title {
    font-size: 1.2em;
    color: black;
}
.user_username, .used_email, .logout {
    margin-top: 15px;
    font-size: 0.9em;
}
.logout_logo {
    font-size: 1.6em;
    display: block;
    margin-top: 10px;
    color:black;
}
.logout_logo:hover {
    color:rgb(253, 45, 1);
    cursor: pointer;
}

@media screen and (max-width:600px){
    .head__logo {
        margin-left:5%;
        width:60%;
    };   
};